.btn{
    border-radius: 0px !important;
}

.row-right{
    padding-right: 3px;
}

.row-left{
    padding-left: 3px;
}

.row-center{
    padding-right: 3px;
    padding-left: 3px;
}

.bg-white{
    background-color: #fff;
}